@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scroll-bar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scroll-bar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scroll-bar::-webkit-scrollbar-thumb {
        @apply bg-indigo-600;
        width: 5px;
        border-radius: 10px;
    }

    .custom-scroll-bar-dark::-webkit-scrollbar-thumb {
        background-color: #312e81;
    }
}